/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css?family=Schoolbell&display=swap');

input{
    width: 20rem; height: 2rem;
    opacity: 0.33;
    border-radius: 5px;
}
/* PLAY SCREEN */
.play-screen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.display-container{
    width: 240px; height: 200px;
}

#hanger,
#hanger-body{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

#hanger-body{
    transform: translate(-100%, -50%);
}

#text-answer{
    text-align: center;
    font-size: 60px;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, 50%);
}

#hanger path,
#hanger-body path{
    fill-opacity: 0;
}

/* ㅡ */
#hanger path:nth-child(1){
    stroke-dasharray: 526.303955078125px;
    stroke-dashoffset: 526.303955078125px;
}

/* ㄱ */
#hanger path:nth-child(2){
    stroke-dasharray: 676.9739990234375px;
    stroke-dashoffset: 676.9739990234375px;
}

/* ㅇ */
#hanger-body path:nth-child(1){
    stroke-dasharray: 144.60743713378906px;
    stroke-dashoffset: 144.60743713378906px;
    fill-opacity: 0;
}

#hanger-body path:nth-child(2){
    stroke-dasharray: 229.46240234375px;
    stroke-dashoffset: 229.46240234375px;
}

/* ㅜ */
#hanger-body path:nth-child(3){
    stroke-dasharray: 286.11907958984375px;
    stroke-dashoffset: 286.11907958984375px;
}

/* ㅅ */
#hanger-body path:nth-child(4){
    stroke-dasharray: 260.660888671875px;
    stroke-dashoffset: 260.660888671875px;
}

.fill-class{
    transition: ease 0.5s all 1s;
    animation: strokeAnimation 1s ease-in-out forwards;
}

/* TEXT INPUT */
.input-container{
    width: 20rem; height: 2rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
    align-items: space-around;
}

#text-show{
    font-family: 'Schoolbell', cursive;    
    margin-bottom: 1em;
    color: #edf0f1;
    opacity: 0.8;
    text-align: initial;
}

#error-text{
    padding: 0.25em;
    font-size: 12px;
    font-family: 'Belleza', sans-serif;
    transition: all 0.3s ease-in-out;
    color: red;
    opacity: 0;
}

/* ANIMATION */

@keyframes strokeAnimation{
	to{
		stroke-dashoffset: 0;
	}
}

/* MEDIA */
@media screen and (max-width: 1000px){
    #hanger,
    #hanger-body{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #hanger-body{
        transform: translate(-100%, -50%);
    }
    #text-answer{
        font-size: 50px;
        top: 18%; left: 50%;
        transform: translate(-50%, -50%);
    }
    .input-container{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-content: center;
        align-items: center;
        top: 66%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #text-show{
        align-self: center;
    }
}